<p>
  <%= link_to "Compose", new_conversation_path%>
  <%= link_to 'Inbox', inbox_mailbox_index_path %>
  <%= link_to 'Sent', sent_mailbox_index_path %>
  <%= link_to 'Trash', trash_mailbox_index_path %>
</p>